.container {
	background-color: lightgrey;
  	margin: auto;
  	padding: 30px;
  	width: 60%;
  	font-size: 2vw;
	overflow: auto;
}
span.right {
text-indent: 12em;
}

span.left {
	}

li {
	border-bottom: 1px solid #A5A5A5;
	margin: 20px;
	height: 40px;
	font-size: 2.5vw;

}

input {
	font-size: 2.5vw;
	height: 60px;
  	border-style: none; 
	width:90%;
 	float:left;
}